.header {
  background: linear-gradient(
    91.77deg,
    rgba(174, 181, 249, 0.86) 16.39%,
    rgba(239, 164, 189, 0.86) 98.54%,
    rgba(239, 164, 189, 0.062559) 106.37%
  );
  padding: 2rem;
  width: 100%;
}

.logo {
  margin: 0 auto 2rem;
  display: block;
}

.searchCover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  /* width: 100%; */
  display: block;
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  width: 300px;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  /* margin: 0 auto; */
  background: #fff;
  border-radius: 5rem;
  /* border-radius: 20px; */
  overflow: hidden;
  /* max-width: 40rem; */
}
